body{background-color:transparent;}

.whitepapers .container{width:100%;}
.whitepapers .panel-body h1{font-size: 20px; float:none; margin:0.67em 0; left:0; height:auto; width:auto;}
.whitepapers .panel-body h2{font-size: 16px;}