<div class="main container">
  <h1>Credits</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>
      <table class="table table-striped" id="credits-table">
        <thead>
          <tr>
            <th class="credit-id">Visibility</th>
            <th class="cover-th">Cover</th>
            <th class="album-th">Album/Artist</th>
            <th class="genre-th">Genre</th>
            <th class="year-th">Year</th>
            <th class="engineer-th">Engineer</th>
            <th class="credit-th">Credit</th>
            <th class="actions-th" style="min-width:110px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="credit in credits | itemsPerPage: perPage" total-items="creditsCount.count" current-page='page'>
            <td class="credit-id">
              <div ng-show="credit.homepage_flag != 1" class="homepage-off-message">
                  <span class="glyphicon glyphicon-eye-close"></span>
              </div>
            </td>
            <td>
              <img ng-src="images/credits/{{ credit.image.small_name}}" height="80" width="80" />
            </td>
            <td><span ng-bind="credit.album"></span><br /><span ng-bind="credit.artist"></span></td>
            <td ng-bind="credit.genre"></td>
            <td ng-bind="credit.year"></td>
            <td>{{ credit.engineer }} <span ng-if="credit.extra_credit"><br />Extra Credit: {{ credit.extra_credit_engineer_name }}</span></td>
            <td>{{ credit.credit }} <span ng-if="credit.extra_credit"><br />Extra Credit: {{ credit.extra_credit }}</span></td>
            <td>
              <a href="#" ui-sref="credits.edit({ creditId: credit.id })" role="button" class="edit-credit btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <button class="btn btn-danger btn-sm btn-block" ng-click="deleteCredit($index)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of credits: {{creditsCount.count}}</p>
</div>